<h1>Your Cart, Madam</h1>

<form action="/checkout" method="POST">
  <label id="cart">Put a thing in your cart:</label>
  <input type="text" id="cart"/>
  <input type="submit" name="Submit"/>
</form>
