<h1>Your Cart, Madam</h1>

<form action="/checkout" method="POST">
  <label id="item">Put a thing in your cart:</label>
  <input type="text" id="item"/>
  <input type="submit" name="submit"/>
</form>
